<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../stylesheets/footer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="header">
  

      <!--Waves Container-->
      <div>
        <svg
          class="waves"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28"
          preserveAspectRatio="none"
          shape-rendering="auto"
        >
          <defs>
            <path
              id="gentle-wave"
              d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
            />
          </defs>
          <g class="parallax">
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="0"
              fill="rgba(255,255,255,0.7)"
            />
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="3"
              fill="rgba(255,255,255,0.5)"
            />
            <use
              xlink:href="#gentle-wave"
              x="48"
              y="5"
              fill="rgba(255,255,255,0.3)"
            />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
        </svg>
      </div>
      <!--Waves end-->
    </div>

    <div class="content flex">
        <footer class="footer-distributed">

            <div class="footer-left">
                <img src="../../images/logo.png" alt=""  >
    
                <p class="footer-links">
                    <a href="/adopet">Home</a>
                    |
                    <a href="/adopet/faq">FAQs</a>
                    |
                    <a href="/adopet/feedback">Feedback</a>
                    |
                    <a href="/adopet/termsandconditions">Terms & Conditions</a>
                </p>
    
                <p class="footer-company-name">Copyright © 2024 <strong>MadderCode</strong> All rights reserved</p>

            </div>
    
            <div class="footer-center">
                <h2>Contact Us</h2>
                <div>
                  <i class="fa-solid fa-map-pin"></i>
                    <p>
                        Mumbai</p>
                </div>
    
                <div>
                  <i class="fa-solid fa-phone"></i>
                    <p>+91 74**9**258</p>     
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:maddercode69@gmail.com">maddercode69@gmail.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About the company</span>
                    <strong>Adopet</strong> Adopet is a pet adoption portal that provides a platform for 
                    Pet Adoption 
                    aswell as 
                    Pet donation facility. It Aims to provide the safest place for your pets.
                </p>
                <div class="footer-icons">
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="https://www.facebook.com/profile.php?id=61555838780457"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="https://github.com/puwun/Pet-Adoption"><ion-icon name="logo-github"></ion-icon></a>

                </div>
            </div>
        </footer>
    </div>
    <!-- <footer>
        <ul class="social_icon"></ul>
        <li><a href ="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li><a href ="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
        <li><a href ="#"></a><ion-icon name="logo-github"></ion-icon></li>
        <li><a href ="#"></a><ion-icon name="logo-instagram"></ion-icon></li>

    </footer> -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://kit.fontawesome.com/8848b021f5.js" crossorigin="anonymous"></script>
  </body>
</html>