    <!-- footer -->
    <footer>
        <div class = "social-links">
          <a href = "#"><i class = "fab fa-facebook-f"></i></a>
          <a href = "#"><i class = "fab fa-twitter"></i></a>
          <a href = "#"><i class = "fab fa-instagram"></i></a>
          <a href = "#"><i class = "fab fa-pinterest"></i></a>
        </div>
        <div class="left-section">
          <ul>
              <li><a href="/faq">FAQs</a></li>
              <li><a href="/articles">Blog</a></li>
              <li><a href="/tnc">Terms & Conditions</a></li>
              <li><a href="/feedback">Contact Us</a></li>
          </ul>
      </div>
      <div class="right-section">
          <img src="logo" alt="Logo" />
      </div>
        <span><a href="/">ADOPET</a></span>
      </footer>
      <!-- end of footer -->
      
  