<!-- <div id="nav">
    <div id="nav-part1">
    </div>
    <div id="nav-part2">
        <div id="links">
            <a href="/donate">Donate</a>
            <a href="#">Adopt</a>
            <a href="#">Get to Vet</a>
            <a href="/articles">Blog</a> 
            < <a href="/articles/index">Blog</a>  -->
            <!-- <a href="#">Events</a>
            < if(!currentUser) { %>
            <a href="/signup">Sign up</a>
            <a href="/login">Log in</a>
            < }else{ %>
            <a href="/logout">Log out</a>
            < } %>
        </div>

    </div>
</div>  -->




<nav class = "navbar">
    <div class = "container">
      <a href = "/" class = "navbar-brand">Adopet Blog</a>
      <div class = "navbar-nav">
        <a href = "/donate">Donate</a>
        <a href = "/adopt">Adopt</a>
        <a href = "">Get to vet</a>
        <a href = "/articles">Blog</a>
        <a href = "/events">events</a>
        <% if(!currentUser) { %>
        <a href = "/signup">Sign up</a>
        <a href = "/login">Log in</a>
        <% }else{ %>
        <a href = "/logout">Log out</a>
        <% } %>

      </div>
    </div>
  </nav>
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
    integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
    integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="../navbarr/script.js"></script> -->