<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <%- include('../../partials/navbar') %>

    <h1><%= other[0].name %></h1>
    <h2><%= other[0].breed %></h2>
    <h3><%= other[0]  %></h3>
</body>
</html>