<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../stylesheets/auth.css">

</head>
<body>

 

<!-- <script src="../navbarr/script.js"></script> -->
  <div class="cont">
    <div class="form sign-in">
        <form action="/adopet/auth" method="POST"  class="needs-validation">
            <input type="hidden" name="action" value="login">
      <h2>Login</h2>
      <label for="username" class="form-label">
        <span>Username</span>
        <input type="text" class="form-control" name="username" id="username_login" placeholder="" novalidate autofocus required>
      </label>
      <label for="password" class="form-label">
        <span>Password</span>
        <input type="password" class="form-control"  name="password" placeholder="" id="capsLockInput1"  required>
      </label>
      <!-- <input type="submit" id="LG" value="Login"> -->
      <button class="submit" type="submit">Login</button>
    </form>
      <!-- <p class="forgot-pass">Forgot Password ?</p> -->


    </div>

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>New here?</h2>
          <p>Sign up and discover great amount of new opportunities!</p>
        </div>
        <div class="img-text m-in">
          <h2>One of us?</h2>
          <p>If you already has an account, just sign in. We've missed you!</p>
        </div>
        <div class="img-btn">
          <span class="m-up">Sign Up</span>
          <span class="m-in">Login</span>
        </div>
      </div>
      <form action="/adopet/auth" method="POST" class="needs-validation">
          <input type="hidden" name="action" value="signup">
      <div class="form sign-up">
        <h2>Sign Up</h2>
        <label for="username" class="form-label">
          <span>Username</span>
          <input type="text" class="form-control" name="username" id="username_signup" autofocus novalidate required>
        </label>
        <label for="email" class="form-label">
          <span>Email</span>
          <input type="email" class="form-control" name="email" id="email"  required>
        </label>
        <label for="phone" class="form-label">
          <span>Phone</span>
          <input type="text" class="form-control" name="phone" id="phone"  required>
        </label>
        <label for="password" class="form-label">
          <span>Password</span>
          <input type="password" class="form-control" name="password" id="capsLockInput2"  required>
        </label>
        <button type="submit" class="submit">Sign Up Now</button>
      </div>
    </form>
    </div>
  </div>
<script type="text/javascript" src="../js/auth.js"></script>


</body>
</html>