<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Donation Form</title>

</head>

<body>
  <h1>Donation form</h1>
  <%- include('partials/navbar') %>
  <form action="/donate" method="POST" class="form-example">
    <div class="form-example">
       <label for="pet">Enter type of pet: </label>
      <br> 
<<<<<<< Updated upstream
      <input type="text" name="pet" id="pet" required />
      <!-- <label for="pet">Enter type of pet:</label>
=======
      <!-- <input type="text" name="pet" id="pet" required /> -->
      <label for="pet">Enter type of pet:</label>
>>>>>>> Stashed changes
      <select name="pet" id="pet">
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="bird">Bird</option>
        <option value="smallandfurry">Small & Furry</option>
<<<<<<< Updated upstream
        <option value="other">Other</option> -->
        <!-- Add more options as needed -->
      <!-- </select> -->
=======
        <option value="other">Other</option>
        <!-- Add more options as needed -->
       </select>
>>>>>>> Stashed changes
    </div>
    <div class="form-example">
        <label for="name">Enter pet name: </label>
        <br>
        <input type="text" name="name" id="name" required />
    </div>
    <div class="form-example">
      <label for="breed">Enter pet breed: </label>
      <br>
      <input type="text" name="breed" id="breed"/>
    </div>
    <div class="form-example">
        <label for="description">Enter pet description: </label>
        <br>
        <input type="text" name="description" id="description" required />
    </div>
    <div class="form-example">
      <label for="age">Enter pet age: </label>
      <br>
      <input type="text" name="age" id="age" required />
    </div>
    <div class="form-example">
      <label for="image">Enter pet image: </label>
      <br>
      <!-- <input type="file" name="image" id="image" required /> -->
      <input type="text" name="image" id="image" required />
    </div>
    <div>
        <label for="isFullyVaccinated">Are shots up to date?</label>
        <br>
        <!-- <input type="radio" id="yesVacc" name="isFullyVaccinated" value="true" required />
        <label for="isFullyVaccinated">Yes</label>
        <input type="radio" id="noVacc" name="isFullyVaccinated" value="false" required/>
        <label for="isFullyVaccinated">No</label> -->
        <input type="text" name="isFullyVaccinated" id="isFullyVaccinated" required />
        <!-- Make it boolean -->
    </div>
    <div class="form-example">
      <label for="medHistory">Enter pet medical history: </label>
      <br>
      <!-- <input type="file" name="medHistory" id="medHistory" required /> -->
      <input type="text" name="medHistory" id="medHistory" required />

    </div>
    <div>
        <label for="isGoodWithKids">Is the pet good with kids?</label>
        <br>
        <input type="text" name="isGoodWithKids" id="isGoodWithKids" required />
 
        <!-- <input type="radio" id="yesKids" name="isGoodWithKids" value="true" required/>
        <label for="isGoodWithKids1">Yes</label>
        <input type="radio" id="noKids" name="isGoodWithKids" value="false" required/>
        <label for="isGoodWithKids">No</label> -->
        <!-- Make it boolean -->
    </div>
    <div class="form-example">
        <label for="gender">Enter pet gender: </label>
        <br>
        <input type="text" name="gender" id="gender" required />
    </div>
    <div class="form-example">
        <label for="whyDonate">Why donate? </label>
        <br>
        <input type="text" name="whyDonate" id="whyDonate" required />
    </div>
    <div class="form-example">
        <input type="submit" value="Submit" />
    </div>
</form>
  </form>
  <div> <%- include('./partials/footer') %>
  </div>


</body>

</html>