<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">ERROR!</h4>
    
    <p>ERROR IS ...................... <%= err %>.</p>
    <hr>
    <p class="mb-0"><%= err.stack %></p>
  </div>