<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../stylesheets/feedback.css"/>
</head>
<body>
  <%- include('./partials/navbar') %>
  <section>
    <div class="container">
      <h2>Contact Us</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      
      <div class="contact-info">
        <div class="contact-info-item">
          <div class="contact-info-icon">
            <i class="fas fa-home"></i>
          </div>
          
          <div class="contact-info-content">
            <h4>Address</h4>
            <p>CS/IT Department,<br/> VJTI, Mumbai, <br/>40001</p>
          </div>
        </div>
        
        <div class="contact-info-item">
          <div class="contact-info-icon">
            <i class="fas fa-phone"></i>
          </div>
          
          <div class="contact-info-content">
            <h4>Phone</h4>
            <p>571-457-2321</p>
          </div>
        </div>
        
        <div class="contact-info-item">
          <div class="contact-info-icon">
            <i class="fas fa-envelope"></i>
          </div>
          
          <div class="contact-info-content">
            <h4>Email</h4>
           <p>maddercode69@gmail.com</p>
          </div>
        </div>
      </div>
      
      <div class="contact-form">
        <form action="/adopet/feedback" id="contact-form">
          <h2>Have any feedback for us?</h2>
          <div class="input-box">
            <input type="text" name="subject" id="subject">
            <span>Subject</span>
          </div>
          
          
          <div class="input-box">
            <input type="text" name="feedback" id="feedback" required required/>
            <span>Type your Feedback...</span>
          </div>
          
          <div class="input-box">
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
      
    </div>
  </div>

  </section>

      <%- include('./partials/scroll') %>
       <%- include('./partials/footer') %>
      
  
    </body>
</html>
