<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Instrument+Serif&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../stylesheets/feedback.css"/>
</head>
<body>
  <%- include('./partials/navbar') %>
  <section>
    <div class="container">
      <h2>Your Feedback is valuable</h2>
      <p>We at adopet are always looking to improve our platform and your feedback helps us achieve that.</p>
    </div>
  
    <div class="contact-form">
      <h2 style="text-align: center;">Have any feedback for us?</h2>
      <form action="/adopet/feedback" method="POST" id="contact-form">
        <div class="input-box">
          <input type="text" class="subject" name="subject" placeholder="Enter subject" required>
        </div>
          
        <div class="input-box">
          <textarea name="feedback" id="feedback" placeholder="Feedback" required></textarea>
        </div>
          
        <div class="input-box">
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </section>

  <%- include('./partials/scroll') %>
  <%- include('./partials/footer') %>
</body>
</html>
