<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pawsome Adoption - Welcome</title>
  <link rel="stylesheet" href="../stylesheets/landing.css">
</head>
<body>
  <div id="backgroundImage"></div>
  <button id="startButton">Start</button>
  <div class="square"></div> <!-- Added square element -->
  <div id="coordinatesDisplay">
    <div id="cursorCoordinates"></div>
    <div id="imageCoordinates"></div>
    <div id="directions"></div>
    <div id="angle"></div>
    <div id="tpCoordinates"></div>
  </div>
  <img id="customImage" src="file:///C:/Users/Priyank%20Jhaveri/Downloads/26-unscreen.gif" alt="Custom Image">
  <img id="pawPrint" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Paw-print.svg/1062px-Paw-print.svg.png" alt="Paw Print">
  <img id="customCursor" src="https://www.freepnglogos.com/uploads/bone-png/clipartist-clip-art-cartoon-bone-skull-bones-clipartist-svg-5.png" alt="Custom Cursor">
  <script src="../js/landing.js"></script>
</body>
</html>
