<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<link rel="stylesheet" href="../stylesheets/style.css">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5 .2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
    integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
    integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <h1>Login form</h1>


  <nav class = "navbar">
    <div class = "container">
      <a href = "/" class = "navbar-brand">Adopet Blog</a>
      <div class = "navbar-nav">
        <a href = "/donate">Donate</a>
        <a href = "/adopt">Adopt</a>
        <a href = "">Get to vet</a>
        <a href = "/articles">Blog</a>
        <a href = "/events">events</a>
        <% if(!currentUser) { %>
        <a href = "/signup">Sign up</a>
        <a href = "/login">Log in</a>
        <% }else{ %>
        <a href = "/logout">Log out</a>
        <% } %>

      </div>
    </div>
  </nav>
  <%- include('partials/flash') %>
  </div>
  <form action="/login" method="POST" novalidate class="needs-validation" >
    <div class="form-example">
      <label for="username" class="form-label">Enter username</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="username" autofocus required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please enter a valid name.
      </div>
    </div>

    <div class="form-example">
      <style>#capsLockWarning {
        color: red;
        display: none;
    }
    .input-box img{
      width: 30px;
      cursor: pointer;
    }
    
</style>
      <div class="input-box">
      <label for="password" class="form-label">Enter your password</label>
      <input type="password" class="form-control" name="password" placeholder="password" id="capsLockInput"  required>
      <img src="/images/eyes-closed.png" alt="" id="eyeicon">
    </div>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please enter a valid password.
      </div>
      <p id="capsLockWarning">CAPS LOCK ON !!</p>
    <script>
        document.getElementById('capsLockInput').addEventListener('keyup', function (event) {
            var capsLockWarning = document.getElementById('capsLockWarning');
            event.getModifierState('CapsLock') ? capsLockWarning.style.display = 'block' : capsLockWarning.style.display = 'none';
        });

        let eyeicon = document.getElementById('eyeicon');
        let password = document.getElementById('capsLockInput');
        eyeicon.onclick = function() {
          if(password.type == "password"){
            password.type = "text";
            eyeicon.src = "/images/eyes-open.png";
          }else{
            password.type = "password";
            eyeicon.src = "/images/eyes-closed.png";
          }
        }
    </script>
    </div>
    <div class="form-example">
      <input type="submit" value="Login" />
    </div>
  </form>
  <script>  // Example starter JavaScript for disabling form submissions if there are invalid fields

    (function () {
    'use strict'
    
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
    
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
    })()
  
  </script>
</body>

</html>







