.home-header {
    text-align: center;
  }
  
  .home-header h2 {
    color: #0080ff;
    font-size: 2rem;
  }
  
  .home-header h1 {
    font-size: 3rem;
    color: #0f52ba;
    margin-bottom: 1rem;
  }
  
  .home-header h1 span {
    color: black;
  }
  
  .home-header p {
    color: black;
    font-weight: 500;
    font-size: 4.2vh;
  }
.button{
  width: 70px; /* Set the width of the button */
  height: 70px; /* Set the height of the button */
  border-radius: 50%; /* Make it circular */
  font-size: 46px; /* Optionally, adjust the font size */
  background-color: rgb(191, 78, 3);
  color: aliceblue;
  margin-top: -70px;
  cursor: pointer;
}