<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Create Blog</title>
<link rel="stylesheet" href="../../stylesheets/newblog.css">
</head>
<body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/flash') %>
    <h1 style="text-align: center; margin-top: 30px;  font-size: 66px;">Create your own blog!</h1>
<div class="container">
    <div class="form-container">
        <div>
            <form action="/adopet/articles/new" method="POST" class="form-example" enctype="multipart/form-data" >
            <input type= "text" id="title" placeholder="Enter Title"name="title">
            <textarea  id="blog" placeholder="Enter content" name="content"></textarea>
            <input type="file" id="cover" name="cover">
            <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <img src="../../images/newblog.png" class="myImage" id="oscillatingImage" alt="Right Image">
</div>
<script>
    
    var img = document.getElementById('oscillatingImage');

    
    function oscillateImage() {
        
        img.style.transform = img.style.transform === 'translateY(15px)' ? 'translateY(0)' : 'translateY(15px)';
    }

    
    setInterval(oscillateImage, 2000); 
</script>
</body>
</html>
