body {
  font-family: Arial, sans-serif;
}

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(255,255,255,0.6);
  color: rgba(255,255,255,0.6);
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#scrollBtn:hover {
  background-color: black;
}
#scrollBtn:hover img {
  filter: brightness(0) invert(1);
}
.content {
  height: 2000px; /* For demonstration purpose, to make the page scrollable */
}
