@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');
html, body {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(45deg, #ea7877, #dca29c, #edcf6b, #c1c7cf, #dca29c, #ea7877, #edcf6b, #e6e6e6);
    background-size: 150% 990%;
    animation: color 40s ease-in-out infinite;
    font-family: 'Oregano';
    margin:0px;
    padding: 0px;
}

main {
    display: flex;
}

.event-list {
    width: 25%;
    height: 100vh;
    overflow: auto;
    background: whitesmoke;
}

#map {
    height: 100vh;
    width: 75%;
}

.event-list .heading {
    background: #ff99c8;
    /* background: linear-gradient(45deg, #ea7877, #dca29c, #edcf6b, #c1c7cf, #dca29c, #ea7877, #edcf6b, #e6e6e6);
    animation: color 40s ease-in-out infinite; */
    color: #fff;
}

.event-list .heading h2 {
    margin:0;
    padding: 10px;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: #0077b6;
    border-radius: 0;
}

.event-list ul.list {
    padding: 0 1rem;
    list-style-type: none;
}

.event-list .event-item {
    margin: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-list .event-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-list li:last-child .event-item {
    border: none;
}

.event-list .event-item a {
    text-decoration: none;
    font-size: 20px;
    color: #758bfd;
    font-weight: 700;
}

.event-list .event-item p {
    font-size: 14px;
    color: #404040;
}

.leaflet-popup-content-wrapper {
    padding: 0;
    overflow: hidden;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0;
}

.leaflet-popup-content-wrapper h4 {
    padding: 16px;
    background: #ff99c8;
    color: #fff;
    font-size: 16px;
}

.leaflet-popup-content-wrapper p {
    padding: 0 16px;
    font-size: 14px;
    margin-bottom: 14px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number {
    padding: 16px;
    padding-top: 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number a {
    color: blue;
    font-size: 14px;
}