@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');

body {
  font-family: 'Oregano', cursive;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #fff, #f0f0f0, #e6e6e6, #ea7877, #dca29c, #edcf6b, #c1c7cf, #dca29c, #ea7877, #edcf6b, #e6e6e6);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  position: relative;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contact-form {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 50%;
  margin: 0 auto;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.input-box {
  margin-bottom: 20px;
}

.input-box input,
.input-box textarea {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-right: 0px;
}

.input-box input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 100px;
  display: block;
  margin: 0 auto;
}

.input-box input[type="submit"]:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.navbar {
  background-color: #333;
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar ul li a:hover {
  background-color: #555;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scroll-to-top a {
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
}

.scroll-to-top a:hover {
  background-color: #555;
}

@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
