<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Adopet Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font awesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
  </head>
  <main>

    <!-- header -->
    <header>
      <nav class = "navbar">
        <div class = "container">
          <a href = "index.html" class = "navbar-brand">Adopet Blog</a>
          <div class = "navbar-nav">
            <a href = "">Donate</a>
            <a href = "">Adopt</a>
            <a href = "">Get to vet</a>
            <a href = "">Blog</a>
            <a href = "">events</a>
            <a href = "">Sign up</a>
            <a href = "">Sign in</a>
          </div>
        </div>
      </nav>
      <div class = "banner">
        <div class = "container">
          <h1 class = "banner-title">
            <span>Blog</span>
          </h1>
          <p>everything that you want to know about your pets</p>
          <!-- <img src = "https://staging.petmag.com/wp-content/uploads/2020/08/category-header-cats.jpg" -->
        </div>
      </div>
    </header>
    <!-- end of header -->
    
    <!-- design -->
    <% for(let art of aart){%>

    <div class="scroll-tracker"></div>
    <section class = "design" id = "design">
      <div class = "container">
        <div class = "title">
          <h2>Read about Dogs & cats</h2>
          <p>recent arts & designs on the blog</p>
        </div>

        <div class = "design-content">
          <!-- item -->
          <div class = "design-item">
            <div class = "design-img">
              <img src = "https://plus.unsplash.com/premium_photo-1663047910718-c8758a6785e9?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt = "">
              <span><i class = "far fa-heart"></i> 22</span>
              <span>Adopet</span>
            </div>
            <div class = "design-title">
              <a href = "#">Jot down pet care blogs</a>
            </div>
          </div>
        </div>
        </div>
    </section>
    <%}%>

    <!-- end of design -->


    <!-- blog -->
    <section class = "blog" id = "blog">
      <div class = "container">
        <div class = "title">
          <h2>Latest Blog</h2>
          <p>recent blogs about art & design</p>
        </div>
        <div class = "blog-content">
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "https://images.pexels.com/photos/3171712/pexels-photo-3171712.jpeg?auto=compress&cs=tinysrgb&w=600" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            <div class = "blog-text">
              <span>20 January, 2020</span>
              <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
              <a href = "#">Read More</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "images/blog-p-2.jpg" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            <div class = "blog-text">
              <span>20 January, 2020</span>
              <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
              <a href = "#">Read More</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "images/blog-p-3.jpg" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            <div class = "blog-text">
              <span>20 January, 2020</span>
              <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
              <a href = "#">Read More</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "images/blog-p-4.jpg" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            <div class = "blog-text">
              <span>20 January, 2020</span>
              <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
              <a href = "#">Read More</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->
          <div class = "blog-item">
            <div class = "blog-img">
              <img src = "images/blog-p-5.jpg" alt = "">
              <span><i class = "far fa-heart"></i></span>
            </div>
            <div class = "blog-text">
              <span>20 January, 2020</span>
              <h2>Lorem ipsum, dolor sit amet consectetur adipisicing</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis libero quas ipsum laudantium nihil! Quaerat.</p>
              <a href = "#">Read More</a>
            </div>
          </div>
          <!-- end of item -->
          <!-- item -->

          <!-- end of item -->
        </div>
      </div>
    </section>
    <!-- end of blog -->


    <section class="about" id="about">
      <div class="container">
        <div class="about-content">
          <h1>Post your own blog</h1>
          <div class="content-wrapper">
            <div>
              <img src = "images/about-bg.jpg" alt = "">
            </div>
            <div>
              <!-- Dynamic upload button -->
              <label for="image-upload" class="upload-btn">Upload Image</label>
              <input type="file" id="image-upload" accept="image/*" multiple style="display: none;">
            </div>
            <div class="about-text">
              <div class="title">
                <h2>Anuv jain</h2>
                <p></p>
              </div>
              <!-- Text input area -->
              <textarea rows="20" cols="50" maxlength="5000" placeholder="Write your blog here..."></textarea>
            </div>
          </div>
        </div>
      </div>
    </section>
    

  </main>

    <!-- footer -->
    <footer>
      <div class = "social-links">
        <a href = "#"><i class = "fab fa-facebook-f"></i></a>
        <a href = "#"><i class = "fab fa-twitter"></i></a>
        <a href = "#"><i class = "fab fa-instagram"></i></a>
        <a href = "#"><i class = "fab fa-pinterest"></i></a>
      </div>
      <div class="left-section">
        <ul>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
    <div class="right-section">
        <img src="/" alt="Logo" />
    </div>
      <span>ADOPET</span>
    </footer>
    <!-- end of footer -->
    
    
  </body>
</html>