<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <%- include('../../partials/navbar') %>

<h1><%=dog %></h1>
     <!-- <h2>donated by %= dog.user.username %></h2>
    <h2>%= dog.user %></h2>
    <h3>%= dog.user %></h3>
    <h4>%= dog  %></h4>  -->
</body>
</html>